.tc-map-seat_disabled {
    fill: #1d1d1d;
}
.tc-map-seat_disabled:hover {
    fill: #1d1d1d;
}
.tc-map-sector_colored0 {
    fill: black;
}
.header-mobile__info-box {
    max-width: 100%;
}
.header__container {
	background: #101212;
	padding: 20px 15px 50px 15px;
}
.header__event-title {
	color: #EF4123 ;
}
.header__age-rating {
	border: 2px solid #909090;
	color: #909090;
}
.switcher__container {
	display: none;
}
.header__event-description {
	color: #ffffff;
}
.header__event-description-cover img {
	border-radius: 10px;
}
.header-mobile__event-description-cover img {
    height: auto;
    margin-top: 20px;
    width: 100%;
    border-radius: 15px;
}
.header-mobile__event-description__datetime {
    margin-bottom: 5px;
    font-size: 16px;
}
.header-mobile__event-description__place {
    margin-bottom: 15px;
    font-size: 16px;
}
.header-mobile__event-description__desc span {
    line-height: 1.1;
}
.plan-preview__body {
	background: #101212;
}
.venue-plan__header {
	background: #101212;
}
.venue-plan__body {
	padding: 50px 0px 10px;
}
.venue-plan>svg {
	padding: 0px 0px 20px 0px;
}
.fil1.str0 {
	fill: #101212;
}
.fil0 {
	fill: #909090;
}
.plan-preview__body {
    background: #101212;
    padding: 15px;
}
.plan-preview__resume {
	background: #101212;
	padding: 10px 15px 10px;
}
.btn_green {
    background: #EF4123 ;
}
.e-popup__footer {
	background: linear-gradient(180deg,#323232 0,#101212 17%,#090909);
	padding: 35px 15px;
}
.tc-map-seat_border:hover, .tc-map-seat_border_hover {
	stroke: #fff;
	stroke-opacity: 1;
}	
.plan-tickets-footer {
	background-color: #101212;
}
.error-tooltip_close-options {
    background: #101212;
}
.close-options__item {
	color: #EF4123 ;
}
.error-tooltip_close-options:before {
    background: #101212;
}
.footer__title:before {
	display: none !important;
}
.tc-map-seat.selected {
	stroke: #fff;
}
.header-mobile__container {
	background: #101212;
	padding: 10px;
}
.header-mobile__event-title {
	font-size: 18px;
    	color: #EF4123;
	margin: 0px;
	max-width: 100%;
}
.header-mobile__event-description {
    	color: #ededed;
	margin: 10px 0 0 0px;
}
.mobile-plan-preview__link {
	color: #909090;
}
.mobile-plan-preview__link svg {
    fill: #909090;
}
.header-mobile__event-title__age-rating {
	border: 2px solid #909090;
	color: #909090;
}
.mobile-plan-preview__container {
	background-color: #101212;
	padding: 10px;
}
.price-legend {
	background-color: #101212;
	border: none;
}
@media (max-width: 540px) {
    .price-legend {
        padding: 10px 10px 0px 15px;
    }
.price-legend__wrapper {
	padding: 0px;
}
@media (max-width: 540px) {
    .pinch-view {
        background-color: #101212 !important;
    }
}	
.event-header {
	background: #101212;
	color: #EF4123 ;
	position: unset;
}
.e-popup {
    background: #101212;
}
.payment-info {
	color: #909090;
}
.disabled.desktop {
    	background: #101212 !important;
}
.tc-widget-frame_popup {
	background: #101212 !important;
}
.mobile-plan-preview__link {
    display: none;
}

.header-mobile__info-btn {
    display: none;
}
.plan-preview__zoom>button {
    background: none;
    border: 2px solid #909090;
    border-radius: 50%;
    color: #ffffff;
    height: 20px;
    margin: 2px;
    padding: 3px;
    width: 20px;
}
@media (max-width: 540px) {
    .plan-preview__zoom>button {
        background: #999999;
        border: none;
        color: #ffffff;
        margin: 3px;
        padding: 5px;
    }
}
.mobile-plan-preview .plan-preview__zoom {
    right: 5px;
    top: 60px;
}
.plan-preview__action-with-svg svg path {
    fill: #ffffff;
}
.plan-preview__action-with-svg:hover svg path {
    fill: #EF4123;
}
.selection-box__content {
    background-color: #101212;
}
.selection-box__select-wrap select {
    appearance: none;
    background: #101212;
    border: 1px solid #909090;
    border-radius: 5px;
    color: #EF4123 ;
}
.selection-box:after {
    background-color: #909090;
}
@media (max-width:914px){
 /* Venue plan  header */
 #plan-preview .plan-preview__body .venue-plan__header{
  max-width:300px;
 }
}
@media screen and (max-width: 540px) {
    body {
        font-family: Helvetica, Arial, PT Sans, sans-serif;
    }
}
.mobile-order-total__number {
    color: #0066B3;
}
.mobile-order-total__amount {
    color: #ffffff;
}
.ticket__show-desc {
    display: none;
}	
.event-header__link_next {
    background: #EF4123;
}
@media (max-width: 540px) {
    .e-popup__body {
        background-color: #101212;
    }
}
.popup-v2__paper {
    background-color: #101212;
}	
.price-legend__actions {
    background-color: unset;
}	
.price-legend__actions_action {
    color: #EF4123;
}	
.tc-map-seat_colored {
    fill: #1d1d1d;
    background-color: #1d1d1d;
    border-color: #1d1d1d;
    color: #1d1d1d;
}	
@media screen and (max-width: 540px) {
    .form__input {
        background: #101212;
	border: 1px solid #c9c9c9;
	color: #ffffff;    
    }
}
.payment-systems-list__select-system {
    color: #ffffff;
}
.payment-systems-item__info {
    color: #ffffff;
}
.payment-systems-list__selected-system {
    color: #ffffff;
}
.form__label {
    color: #fffffd;
}
.payment-form {
    border-bottom: none;
}
